* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  user-select: none;
}

#lock,
#login {
  height: 100vh;
  width: 100vw;
  transition: 0.5s;
  position: absolute;
  background: #000;
  background-size: cover;
}

#lock {
  z-index: 10;
  transform: translateY(0%);
  #timedate {
    position: absolute;
    color: #ffffff;
    bottom: 10%;
    left: 5%;
    #time {
      font-weight: 300;
      font-size: 5rem;
    }
    #date {
      font-size: 3rem;
      font-weight: 200;
    }
  }
}

#login {
  z-index: 0;
  #background {
    background: black;
    filter: blur(1.2rem);
    transform: scale(1.1);
    height: 100vh;
    width: 100vw;
    background-size: cover;
  }
  #close {
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    z-index: 20;
    font-size: 24px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($color: #ffffff, $alpha: 0.3);
    &:hover {
      color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }
}
